@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveUp {
  from {
    top: 86%;
    left: -100%;
  }
  to {
    top: -100%;
    left: 0;
  }
}

@keyframes moveUp2 {
  from {
    top: 75%;
    left: 0;
  }
  to {
    top: -100%;
    left: -100%;
  }
}

@keyframes componentMoveup {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes headerMoveDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.scroll::-webkit-scrollbar {
  display: none;
}

.animated-button:hover > .animated-icon {
  right: 85%;
  transition: all linear 400ms;
}

.animated-button:hover > .animated-text {
  left: 40px;
  transition: all linear 400ms;
}

.swiper-wrapper {
  align-items: center;
}

.tabs-container .swiper-slide {
  width: max-content !important;
}

.swiper-button-disabled {
  display: block !important;
  opacity: 0.5 !important;
}

.myShadow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  clip-path: inherit;
  z-index: -1;
}

.splash-img1 {
  max-width: 1500px !important;
  height: 100% !important;
  animation: moveUp 3.5s ease-in-out forwards;
}

.splash-img2 {
  max-width: 1500px !important;
  height: 100% !important;
  animation: moveUp2 3.5s ease-in-out forwards;
}

.header {
  animation: headerMoveDown 3s ease-in-out forwards;
}

.component {
  animation: componentMoveup 3s ease-in-out forwards;
}

.word-break-auto-phrase {
  "-webkit-word-break": auto-phrase;
  "-moz-word-break": auto-phrase;
  "-o-word-break": auto-phrase;
}

@media screen and (max-width: 1535px) {
  .slider-btn {
    display: flex;
  }
}
